// LIGHT
$popup-light-label-color-grey: #8d8d8d;
$popup-light-label-color-blue: #3369f3;

// DARK TODO: dark theme colors
$popup-dark-label-color-grey: #ffffff;
$popup-dark-label-color-blue: #92a8e0;
