@import '_variables';

.popup {
  &__input {
    display: none;
  }

  &__label {
    margin: 10px auto;
    text-align: center;
    font-size: 12px;
    width: 120px;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__label_blue {
    color: $popup-light-label-color-blue;
    text-decoration: underline;
  }

  &__label_grey {
    color: $popup-light-label-color-grey;
    text-decoration: none;
    width: 250px;
  }
}

.profile {
  &__avatar {
    margin-top: 60px;
  }

  &__table {
    margin: 60px auto 0;
    max-width: 800px;
  }
}
