@import './../../../styles/variables';

.leaderboard__wrapper {
  width: 100%;
  text-align: center;
  color: $color-messages;

  &_theme_light {
    @extend .leaderboard__wrapper;
  }

  &_theme_dark {
    @extend .leaderboard__wrapper;
    color: $color-text-dark_theme;
  }
}

.leaderboard__section-header {
  font-size: 20px;
}

.leaderboard__top,
.leaderboard__leaders {
  display: block;
  width: 670px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.leaderboard__top-list {
  list-style: none;
  margin-bottom: 50px;
}

.leaderboard__list {
  list-style: none;
}
