#GAME {
  width: 600px;
  height: 600px;
  border: 1px solid #ebeeee;
}
.game-container {
  display: flex;
  justify-content: center;
  padding: 1rem 2rem;
  height: 100vh;
}
.menu-game {
  width: 25%;
  height: fit-content;
  border-radius: 10px;
  box-shadow: 0px 0px 13px 1px rgba(106, 139, 165, 0.58);
  padding: 0rem 1rem;
}
.game-score {
  width: 25%;
  border-radius: 10px;
  box-shadow: 0px 0px 13px 1px rgba(106, 139, 165, 0.58);
}
.next-figure {
  width: 100%;
  height: 50%;
  border-radius: 10px;
  box-shadow: 0px 0px 13px 1px rgba(106, 139, 165, 0.58);
}
.game-screen {
  // width: 50%;
  display: flex;
  justify-content: center;
}
.button-wrapper {
  position: absolute;
  display: table;
  text-align: center;
  height: 90%;
}
.button-wrapper-inner {
  vertical-align: middle;
  display: table-cell;
}
.start-btn {
  cursor: pointer;
}
#canvas {
  // width: 70%;
  height: 100%;
  position: relative;
}
#canvas-figure {
  padding-top: 15%;
}
.game-over {
  background: white;
  height: 10rem;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 13px 1px rgba(106, 139, 165, 0.58);
  padding: 0rem 1rem;
  display: none;
}
.show {
  display: table-caption;
}
.avatar {
  width: 45%;
  border-radius: 110px;
  margin: 5% 27% 0% 28%;
}
