.upper-menu {
  &__item {
    display: inline-block;
    margin: 0px 10px;
    cursor: pointer;
  }

  &__item-logout {
    color: var(--color-red);
    font-weight: bold;
  }

  &__link {
    font-weight: bold;
    color: var(--color-messages);
    text-decoration: none;

    &.active {
      text-decoration: underline;
    }
  }
}

