.thread-list {
  &__head {
    display: grid;
    grid-template-columns: 6fr 2fr 4fr;
    background-color: var(--color-back-blue);
    line-height: 30px;
    font-weight: bold;
    margin-top: 10px;
  }

  &__thread,
  &__replies {
    &_header {
      border-right: 1px solid var(--white);
    }
  }
}
