// LIGHT
$popup-light-text-color: #000000;
$popup-light-label-color-grey: #8d8d8d;
$popup-light-label-color-blue: #3369f3;
$popup-light-error-color: #ff2f2f;
$popup-light-background-color: #ffffff;
$popup-light-background-blur-color: rgb(0 0 0 / 40%);

// DARK TODO: dark theme colors
$popup-dark-text-color: #ffffff;
$popup-dark-label-color-grey: #ffffff;
$popup-dark-label-color-blue: #92a8e0;
$popup-dark-error-color: #e06565;
$popup-dark-background-color: #2e2e2e;
$popup-dark-background-blur-color: rgb(0 0 0 / 40%);
