// LIGHT
$popup-light-text-color: #000000;
$popup-light-error-color: #ff2f2f;
$popup-light-background-color: #ffffff;
$popup-light-background-blur-color: rgb(0 0 0 / 40%);

// DARK TODO: dark theme colors
$popup-dark-text-color: #ffffff;
$popup-dark-error-color: #e06565;
$popup-dark-background-color: #2e2e2e;
$popup-dark-background-blur-color: rgb(0 0 0 / 40%);
