@import './../../styles/variables';

.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;

  &_theme_light {
    @extend .user-avatar;
  }

  &_theme_dark {
    @extend .user-avatar;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.25);
  }
}

.avatar__img {
  width: 100%;
}

.avatar__text {
  color: $color-messages;

  &_theme_light {
    @extend .avatar__text;
  }

  &_theme_dark {
    @extend .avatar__text;
    color: $color-text-dark_theme;
  }
}
