@import 'avatar';

.avatar {
  border-radius: 100px;
  width: 130px;
  height: 130px;
  margin: 60px auto 0;
  padding: 0;
}

.avatar__img {
  border-radius: 100px;
  width: 100%;
  height: 100%;
}

.avatar:hover .avatar__img {
  filter: brightness(0.7);
}

.avatar__text {
  position: absolute;
  width: 64px;
  text-align: center;
  top: 110px;
  left: calc(50% - 32px);
  color: transparent;
  font-size: 13px;
}

.avatar:hover .avatar__text {
  color: $avatar-light-text-color;
}
