$button-light-background-color: #3369f3;
$button-dark-background-color: #1d31ac;
$button-light-text-color: #fff;
$button-dark-text-color: #aaa;
$button-disabled-background-color: #808080;
$button-disabled-text-color: #fff;
$button-transparent-text-color: #3369f3;
