@import 'variables';

.button {
  border: none;
  border-radius: 8px;
  cursor: pointer;
  height: 40px;
  width: 100%;
  background-color: var(--color-links);
  color: var(--color-white-text);

  &_transparent {
    background-color: rgb(128 128 128 / 0%);
    color: var(--color-links);
  }

  &_disabled {
    background-color: $button-disabled-background-color;
    color: $button-disabled-text-color;
    cursor: default;
  }

  &_opacity {
    background-color: transparent;
    border: 0;
  }
}

.button__text {
  font-size: 0.813rem;
  font-weight: 500;
  margin: 0;
  background-color: transparent;

  &_opacity {
    color: var(--blue);
  }
}
