@import 'variables';

.button {
  border: none;
  border-radius: 8px;
  cursor: pointer;
  height: 40px;
  width: 100%;

  &_theme_light {
    background-color: $button-light-background-color;
    color: $button-light-text-color;
  }

  &_theme_dark {
    background-color: $button-dark-background-color;
    color: $button-dark-text-color;
  }

  &_transparent {
    background-color: rgb(128 128 128 / 0%);
    color: $button-transparent-text-color;
  }

  &_disabled {
    background-color: $button-disabled-background-color;
    color: $button-disabled-text-color;
    cursor: default;
  }

  &_opacity {
    background-color: transparent;
    border: 0;
  }
}

.button__text {
  font-size: 0.813rem;
  font-weight: 500;
  margin: 0;

  &_opacity {
    background-color: var(--white);
    color: var(--blue);
  }
}
