.upper-menu {
  display: block;
  width: 100%;
  background-color: var(--color-light-gray);

  &_guest {
    text-align: center;
    height: 50px;
  }

  &__h3 {
    line-height: 3rem;
  }

  &__theme {
    font-weight: bold;
    
    &_guest {
      position: absolute;
      top: 5px;
      right: 20px;
    }
  }

  &__select {
    background: none;
    border: none;
    color: var(--color-messages);
  }
}
