.leaderboard-item {
  display: block;
  width: 670px;
  height: 66px;
  text-align: justify;

  &__avatar {
    margin: 8px;
    cursor: pointer;

    &_theme_dark {
      box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.25);
    }
  }

  &__name {
    display: inline-block;
    vertical-align: middle;
    width: 470px;
    font-size: 20px;
    cursor: pointer;
  
    &_theme_dark {
      color: var(--color-text-dark_theme);
    }
  }

  &__score {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    text-align: end;
    font-size: 20px;
    
    &_theme_dark {
      color: var(--color-text-dark_theme);
    }
  }
}
