@import "../src/scss/index";

.leaderboard-item {
  display: block;
  width: 670px;
  height: 66px;
  text-align: justify;

  @media (max-width: $mobile-screen-max-width) {
    max-width: 100vw;
    margin: 0 10px;
  }

  &__avatar {
    margin: 8px;
    cursor: pointer;

    &_theme_dark {
      box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.25);
    }
  }

  &__name {
    display: inline-block;
    vertical-align: middle;
    width: 470px;
    font-size: 20px;
    cursor: pointer;

    @media (max-width: $mobile-screen-max-width) {
      font-size: 18px;
      max-width: calc(100vw - 200px);
    }

    &_theme_dark {
      color: var(--color-text-dark_theme);
    }
  }

  &__score {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    text-align: end;
    font-size: 20px;

    @media (max-width: $mobile-screen-max-width) {
      font-size: 18px;
    }

    &_theme_dark {
      color: var(--color-text-dark_theme);
    }
  }
}
