.user-info {
  display: inline-block;

  &__avatar {
    height: 30px;
    width: 30px;
    margin-right: 20px;
    background-color: var(--color-midgray);

    &_theme_dark {
      box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.25);
    }
  }

  &__name {
    display: inline-block;
    vertical-align: middle;
    color: var(--color-messages);
    max-width: 150px;
    cursor: pointer;
    text-align: left;
  }
}
