@import './../../../styles/variables';

.user-info {
  display: inline-block;
}

.user-info__avatar {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 20px;
  background-color: $color-midgray;

  &_theme_light {
    @extend .user-info__avatar;
  }

  &_theme_dark {
    @extend .user-info__avatar;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.25);
  }
}

.user-info__name {
  display: inline-block;
  vertical-align: middle;
  color: #000;
  width: 150px;
  cursor: pointer;

  &_theme_light {
    @extend .user-info__name;
  }

  &_theme_dark {
    @extend .user-info__name;
    color: $color-text-dark_theme;
  }
}
