.register {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register__content {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
  border-radius: 12px;
  padding: 30px;
  width: 340px;
}

.register__form {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.register__title {
  text-align: center;
  margin: 0;
  font-weight: 500;
  font-size: 1.25rem;
  color: #1e1e1e;
}

.register__button {
  margin-top: 30px;
}

.register__button_disabled {
  background-color: #a51212;
  cursor: default;
}
.register__form-error {
  margin: 0;
  padding: 0;
  color: #ff2f2f;
}
