
.phorum-thread-page-content {
    padding-right: 20px;
    color: var(--color-messages);
    max-width: 1280px;

    &__header {
        font-size: 20px;
        text-align: center;
    }

    &__thread {
        max-height: 426px;
        overflow-y: auto;
    }
}
