.forum-post {
  display: grid;
  grid-template-columns: 1fr 5fr;
  background-color: var(--color-light-gray);
  border-bottom: 1px solid var(--white);

  &_level2 {
    padding-left: 30px;
  }

  &_level3 {
    padding-left: 60px;
  }

  &_level4 {
    padding-left: 90px;
  }

  &_level5 {
    padding-left: 120px;
  }

  &__userinfo {
    text-align: center;
    padding: 10px;
  }

  &__avatar {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    cursor: pointer;
  }

  &__username {
    font-weight: bold;
    cursor: pointer;
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
  }

  &__text {
    text-align: start;
    font-weight: 400;
  }

  &__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30px;
  }

  &__open-response {
    cursor: pointer;
    color: var(--color-links);
  }

  &__response-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
  }

  &__response-textarea {
    width: 300px;
    min-height: 100px;
    color: var(--color-messages);
    border: 1px solid var(--color-lightgray);
    background-color: var(--color-light-gray);
    margin-bottom: 10px;

    &::placeholder {
      font-style: italic;
      color: var(--color-controls-off);
    }
  }

  &__response-button {
    max-width: 300px;
  }

  &__reactions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  &__likes,
  &__dislikes {
    display: flex;
    width: 100px;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--color-light-gray);
    border: 1px solid var(--color-controls-off);
    border-radius: 10px;
    padding: 3px; margin-right: 10px;
  }

  &__date {
    display: inline-block;
    text-align: end;
    color: var(--color-midgray);
  }
}

.reaction {
  display: flex;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &-like {
    background-image: url('./../../../assets/thumbs-up-regular.svg');

    &_active {
      background-image: url('./../../../assets/thumbs-up-solid.svg');
    }
  }

  &-dislike {
    background-image: url('./../../../assets/thumbs-down-regular.svg');

    &_active {
      background-image: url('./../../../assets/thumbs-down-solid.svg');
    }
  }
}

.reaction-count {
  color: var(--color-controls-on);
}
