.login {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__content {
  box-shadow: 0 0 6px var(--color-controls-off);
  border-radius: 12px;
  padding: 30px;
  width: 340px;
}

.login__form {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.login__title {
  text-align: center;
  margin: 0;
  font-weight: 500;
  font-size: 1.25rem;
  padding-top: 20px;
  padding-bottom: 24px;
}

.login__button {
  margin-top: 140px;
}

.login__form-error {
  margin: 0;
  padding: 0;
  color: #ff2f2f;
}

.login__button_disabled {
  background-color: #a51212;
  cursor: default;
}
