/* inter-regular - latin_cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/font/Inter/inter-v12-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local(''), url('../assets/font/Inter/inter-v12-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../assets/font/Inter/inter-v12-latin_cyrillic-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../assets/font/Inter/inter-v12-latin_cyrillic-regular.woff') format('woff'),
    /* Modern Browsers */ url('../assets/font/Inter/inter-v12-latin_cyrillic-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../assets/font/Inter/inter-v12-latin_cyrillic-regular.svg#Inter') format('svg'); /* Legacy iOS */
}
/* inter-500 - latin_cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/font/Inter/inter-v12-latin_cyrillic-500.eot'); /* IE9 Compat Modes */
  src: local(''), url('../assets/font/Inter/inter-v12-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../assets/font/Inter/inter-v12-latin_cyrillic-500.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../assets/font/Inter/inter-v12-latin_cyrillic-500.woff') format('woff'),
    /* Modern Browsers */ url('../assets/font/Inter/inter-v12-latin_cyrillic-500.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../assets/font/Inter/inter-v12-latin_cyrillic-500.svg#Inter') format('svg'); /* Legacy iOS */
}
/* inter-600 - latin_cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/font/Inter/inter-v12-latin_cyrillic-600.eot'); /* IE9 Compat Modes */
  src: local(''), url('../assets/font/Inter/inter-v12-latin_cyrillic-600.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../assets/font/Inter/inter-v12-latin_cyrillic-600.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../assets/font/Inter/inter-v12-latin_cyrillic-600.woff') format('woff'),
    /* Modern Browsers */ url('../assets/font/Inter/inter-v12-latin_cyrillic-600.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../assets/font/Inter/inter-v12-latin_cyrillic-600.svg#Inter') format('svg'); /* Legacy iOS */
}
/* inter-700 - latin_cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/font/Inter/inter-v12-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local(''), url('../assets/font/Inter/inter-v12-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../assets/font/Inter/inter-v12-latin_cyrillic-700.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../assets/font/Inter/inter-v12-latin_cyrillic-700.woff') format('woff'),
    /* Modern Browsers */ url('../assets/font/Inter/inter-v12-latin_cyrillic-700.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../assets/font/Inter/inter-v12-latin_cyrillic-700.svg#Inter') format('svg'); /* Legacy iOS */
}

/* Press Start 2P - cyrillic */
@font-face {
  font-family: 'PressStart';
  src: url('./../assets/font/PressStart2P/PressStart2P-Regular.ttf');
}

/* Caveat cyrillic italic */
@font-face {
  font-family: 'Caveat';
  font-style: italic;
  src: url('./../assets/font/Caveat/Caveat-VariableFont_wght.ttf');
}

/* Rubik Wet Paint cyrillic regular */
@font-face {
  font-family: 'RubikWetPaint';
  src: url('./../assets/font/RubikWetPaint/RubikWetPaint-Regular.ttf');
}
