:root {
  // Colors
  //
  // Generate palettes for full colors, grays, and theme colors.

  @each $color, $value in $colors {
    --#{$color}: #{$value};
  }

  @each $color, $value in $grays {
    --gray-#{$color}: #{$value};
  }

  @each $color, $value in $theme-colors {
    --#{$color}: #{$value};
  }

  @each $color, $value in $theme-colors-rgb {
    --#{$color}-rgb: #{$value};
  }

  @each $color, $value in $codinsk {
    --#{$color}: #{$value};
  }

  // Fonts

  --font-sans-serif: #{inspect($font-family-sans-serif)};
  --font-monospace: #{inspect($font-family-monospace)};

  // Root and body

  @if $font-size-root != null {
    --root-font-size: #{$font-size-root};
  }
  --body-font-family: #{$font-family-base};
  @include rfs($font-size-base, --body-font-size);
  --body-font-weight: #{$font-weight-base};
  --body-line-height: #{$line-height-base};
  --body-color: #{$body-color};
  @if $body-text-align != null {
    --body-text-align: #{$body-text-align};
  }
  --body-bg: #{$body-bg};
}
