// Configuration
@import 'functions';
@import 'variables';
@import 'mixins';

// Layout
@import 'root';
@import 'reboot';
@import 'fonts';

#root {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;

  &_theme_dark {
    background-color: var(--color-messages);
  }
}
