// Configuration
@import 'functions';
@import 'variables';
@import 'mixins';

// Layout
@import 'root';
@import 'reboot';
@import 'fonts';

$mobile-screen-max-width: 768px;

#root {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  color: var(--color-messages);

  &_theme_dark {
    background-color: var(--color-messages);
  }
}

img {
  filter: brightness(var(--brightness));
}

.background-common {
  position: absolute;
  z-index: -100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  &_theme_shark {
    background-repeat: no-repeat;
    background-size: cover;
  }
}
