@import './../../../styles/variables';

.link-to-game {
  height: 720px;
  background-color: #fbfbfb;
  width: 64px;
  float: left;
  border-right: 1px solid $color-moregrey;

  &_theme_light {
    @extend .link-to-game;
  }

  &_theme_dark {
    @extend .link-to-game;
    background-color: $color-backgrnd-gray-dark-theme;
  }
}

.link-to-game::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.link-to-game__button {
  height: 28px !important;
  width: 28px !important;
  border-radius: 50% !important;
  background-image: url('./../../../assets/arrow-right-solid.png');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  border: 0;
  transform: rotate(180deg);
  display: inline-block;
  vertical-align: middle;

  &_theme_light {
    @extend .link-to-game__button;
  }

  &_theme_dark {
    @extend .link-to-game__button;
    background-color: $color-dark-theme-links;
  }
}
