$color-messages: #000;
$color-links: #3369F3;
$color-lightgray: #eee;
$color-back-gray: #f8f8f8;
$color-back-blue: #e4edfd;
$color-midgray: #999999;
$color-darkgray: #1E1E1E;
$color-lightergrey: #efefef;
$color-moregrey: #eaeaea;
$color-backgrnd-gray: #fbfbfb;
$color-text-dark_theme: #aaa;
$color-backgrnd-gray-dark-theme: #333;
$color-dark-theme-dark-gray: #222;
$color-dark-theme-mid-gray: #444;
$color-dark-theme-links: #1D31AC;
