@import "./variables";

body {
    margin: 0;
    color: $color-messages;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    font-size: 13px;
    font-weight: 500;

    &_theme_dark {
        @extend body;
        color: $color-text-dark_theme;
    }
}

#root {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
