.back-button {
  display: flex;
  background: var(--color-backgrnd-gray);
  border-right: 1px solid var(--color-lightgray);
  position: absolute;
  top: 0;
  left: 0;
  width: 64px;
  height: 100%;

  &__img {
    display: block;
    margin: auto;
    width: 28px;
    height: 28px;
  }
}
