@import "../src/scss/index";

.back-button {
  display: flex;
  background: var(--color-light-gray);
  border-right: 1px solid var(--color-border-gray);
  position: absolute;
  top: 0;
  left: 0;
  width: var(--back-button-width);
  height: 100%;
  text-decoration: none;

  @media (max-width: $mobile-screen-max-width) {
    background: none;
    border: none;
    position: absolute;
    height: 50px;
    width: 100px;
  }

  &__img {
    display: block;
    margin: auto;
    width: 28px;
    height: 28px;
    @media (max-width: $mobile-screen-max-width) {
      display: none;
    }
  }

  &__img_mob {
    display: none;
    @media (max-width: $mobile-screen-max-width) {
      display: block;
      margin: 10px 20px;
      height: 20px;
    }
  }
}
