@import "../src/scss/index";

.upper-menu {
  display: block;
  width: 100%;
  background-color: var(--color-light-gray);
  padding-left: var(--back-button-width);

  &__nav {
    display: inline-block;
  }

  &__list {
    display: inline-block;
    list-style: none;
    @media (max-width: $mobile-screen-max-width) {
      padding: 0 10px;
    }
  }

  &__theme {
    display: inline-block;
    font-weight: bold;
  }

  &__select {
    background: none;
    border: none;
    color: var(--color-messages);
  }
}
