.upper-menu {
  display: block;
  width: 100%;
  background-color: var(--color-light-gray);

  &__nav {
    display: inline-block;
  }

  &__list {
    display: inline-block;
    list-style: none;
  }

  &__theme {
    font-weight: bold;
  }

  &__select {
    background: none;
    border: none;
    color: var(--color-messages);
  }
}
